<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings></connectionStrings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <location path="AddExpense.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee,Manager" />
        <deny users="*" />
      </authorization>
      <!-- Maximum request allowed to send a big image as receipt. -->
      <httpRuntime maxRequestLength="1024" />
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee,Manager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Approve.aspx">
    <system.web>
      <authorization>
        <allow roles="Manager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Styling">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <compilation debug="true" targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    <!-- Membership Provider Configuration -->
    <membership defaultProvider="TableStorageMembershipProvider" userIsOnlineTimeWindow="20">
      <providers>
        <clear />
        <add name="TableStorageMembershipProvider" type="AExpense.AspProviders.TableStorageMembershipProvider" description="Membership provider using table storage" applicationName="aExpense" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" requiresUniqueEmail="false" passwordFormat="Hashed" />
      </providers>
    </membership>
    <!-- Profile Provider Configuration -->
    <profile defaultProvider="TableStorageProfileProvider">
      <providers>
        <clear />
        <add name="TableStorageProfileProvider" type="AExpense.AspProviders.TableStorageProfileProvider, AExpense.AspProviders, Version=1.0.0.0, Culture=neutral" applicationName="aExpense" />
      </providers>
      <properties>
        <add name="PreferredReimbursementMethod" />
        <add name="FirstName" />
        <add name="LastName" />
        <add name="CostCenter" />
        <add name="Manager" />
      </properties>
    </profile>
    <!-- RoleManager Provider Configuration -->
    <roleManager enabled="true" defaultProvider="TableStorageRoleProvider" cacheRolesInCookie="true" cookieName=".ASPXROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear />
        <add name="TableStorageRoleProvider" type="AExpense.AspProviders.TableStorageRoleProvider, AExpense.AspProviders, Version=1.0.0.0, Culture=neutral" description="Role provider using table storage" applicationName="aExpense" />
      </providers>
    </roleManager>
    <!-- SessionState Provider Configuration -->
    <sessionState mode="Custom" customProvider="TableStorageSessionStateProvider">
      <providers>
        <clear />
        <add name="TableStorageSessionStateProvider" type="AExpense.AspProviders.TableStorageSessionStateProvider, AExpense.AspProviders, Version=1.0.0.0, Culture=neutral" applicationName="aExpense" />
      </providers>
    </sessionState>
    <customErrors mode="RemoteOnly" defaultRedirect="500.htm">
      <error statusCode="500" redirect="500.htm" />
      <error statusCode="401" redirect="401.htm" />
    </customErrors>
    <machineKey decryption="AES" decryptionKey="F7FA540B4DFD82E5BB196B95D15FF81FF5725899B569826A7E25C27CB4B17F6E" validation="SHA1" validationKey="F5725899B569826A7E25C27CB4B17F6EBC256A2A9DE62168764FF0DCE537184F0535D5D9AD66DEDCF5725899B569826A7E25C27CB4B17F6EBC256A2A97DC1ABF" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.Services.Client" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>